EnvName=dev
EnableRouteLogs=false
PORT=42069
AllowedOrigins=http://test-domain-2.com, https://test-domain-2.com, ws://test-domain-2.com, wss://test-domain-2.com
StripePublicKey=pk_test_*****
StripePrivateKey=sk_test_*****

PUBLIC_SERVER_LOCATION_ORIGIN=https://www.host.domain
